/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  font-size: 62.5%;
  color: #181b1f;;
} 

body{
  font-family: "Source Serif Pro";
  font-size: 1.6rem;
  background-color: gray;
  margin-top: 4%;
}

h1{
  font-size: 4.5rem;
}

.name{
  font-size: 4rem;

}

.ingredients, .instructions{
  padding-top: 10px;
  border-top: solid black 3px;
  font-size: 2.2rem;
}


.drinkInfo{
  float:left;
  width: 50%;
  height: 600px;
}

/* Search Bar*/

.search{
  padding: 0 5% 5%;
}

.custom-field {
  font-size: 14px;
  position: relative;
  --field-padding: 10px;
  border-top: 20px solid transparent;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 5px;
  width: 250px;
  font-size: 14px;
  padding: var(--field-padding);
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  top: 10px;  
  transform: translateY(-50%);
  width: calc(100% - 24px);  
  color: #aaa;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  transition: 
  top 0.3s ease,
  color 0.3s ease,
  font-size 0.3s ease;
}

.custom-field input:focus + .placeholder, .custom-field input:valid + .placeholder {
  top: -20px;
  font-size: 15px;
  color: #222;
}

#search {
  height: 37px;
  padding: 9px;
  background: #272d33;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 5px;
  border-left: none;
  cursor: pointer;
}

/**************/
.details{
  float:left;
  padding:0 5% 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pics{
  float:left;
  width: 50%;
}

.pics img{
  display: block;
  margin: auto;
  height:700px;
  border-radius: 25%;
}

.left{
  float:left;
  text-align: right;
  margin-top: 100px;
  padding-right: 5%;
  width:50%;
}

.left img, .right img{
  height:100px;
  transition: height .50s .25s;
}

.left img:hover{
  height:110px;
}

.right{
  float: left;
  text-align: left;
  margin-top: 100px;
  padding-left: 5%;
  width: 50%;
}

.right img:hover{
  height:110px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
